## Projeto 2: Construindo um dashboard
Vimos que é possível construir gráficos dinâmicos em aula.

Agora é a oportunidade de juntar o que aprendemos de pandas, seaborn, e plotly. Integrando num dashboard que será hospedado no streamlit.

### Objetivo:
- Construir um dashboard dinâmico com dados de interesse
    - Ações
    - Casos de COVID
    - Viagens da Uber
    - Qualquer tipo de dados!
- Aplicar boas práticas de desenvolvimento com pandas e gráficos
- Escolher a palheta de cor adequada
- Escolher gráficos adequados
- Criar uma estória para o usuário com os dados  

### Objetivo extra

- Publicar o dash

Como publicar o dash? [https://docs.streamlit.io/en/stable/deploy_streamlit_app.html](https://docs.streamlit.io/en/stable/deploy_streamlit_app.html)

Não precisamos criar 10 gráficos distintos, ou um com muitas informações. As vezes um ou dois gráficos já é o suficiente para passar a mensagem de forma objetiva!

- Link do streamlit: [https://streamlit.io/](https://streamlit.io/)  

A documentação é bem detalhada! Olhe com atenção e veja as possibilidades de botões, filtros e gráficos.  
[https://docs.streamlit.io/en/stable/](https://docs.streamlit.io/en/stable/)



### Dados:
`yfinance` modulo para extração de valores de ações.

- [https://data.world/datasets/uber](https://data.world/datasets/uber)

- [https://ourworldindata.org/](https://ourworldindata.org/https://ourworldindata.org/)

In [1]:
import pandas as pd
import numpy as np

In [2]:
# importando drinks
dfdrinks = pd.read_csv('datasets/drinks.csv')
dfdrinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
...,...,...,...,...,...
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0
190,Yemen,6,0,0,0.1
191,Zambia,32,19,4,2.5
192,Zimbabwe,64,18,4,4.7

In [3]:
dfdrinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
dtypes: float64(1), int64(3), object(1)
memory usage: 7.7+ KB

In [4]:
# importando qualidade de vida
dflifeexp = pd.read_csv('datasets/lifeexpectancy-verbose.csv')
dflifeexp

,GhoCode,GhoDisplay,PublishStateCode,PublishStateDisplay,YearCode,YearDisplay,RegionCode,RegionDisplay,WorldBankIncomeGroupGroupCode,WorldBankIncomeGroupDisplay,CountryCode,CountryDisplay,SexCode,SexDisplay,DisplayValue,Numeric
0,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,1990,1990,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,MLE,Male,68,68.00000
1,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2012,2012,EUR,Europe,WB_HI,High_income,IRL,Ireland,MLE,Male,69,69.30000
2,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2000,2000,EMR,Eastern Mediterranean,WB_LI,Low_income,YEM,Yemen,BTSX,Both sexes,61,61.00000
3,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2000,2000,AFR,Africa,WB_LMI,Lower_middle_income,NGA,Nigeria,FMLE,Female,48,48.00000
4,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,1990,1990,SEAR,South_East Asia,WB_LMI,Lower_middle_income,THA,Thailand,FMLE,Female,19,19.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6403,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2000,2000,EMR,Eastern Mediterranean,WB_LMI,Lower_middle_income,MAR,Morocco,BTSX,Both sexes,68,68.00000
6404,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,1990,1990,WPR,Western Pacific,WB_UMI,Upper_middle_income,PLW,Palau,BTSX,Both sexes,16,16.00000
6405,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,1990,1990,AFR,Africa,WB_LI,Low_income,BFA,Burkina Faso,FMLE,Female,51,51.00000
6406,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2012,2012,EUR,Europe,WB_LMI,Lower_middle_income,ALB,Albania,MLE,Male,64,63.50000
6407,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013,2013,EUR,Europe,NaN,NaN,ARM,Armenia,BTSX,Both sexes,71,71.02699

In [5]:
dflifeexp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6408 entries, 0 to 6407
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   GhoCode                        6408 non-null   object
 1   GhoDisplay                     6408 non-null   object
 2   PublishStateCode               6408 non-null   object
 3   PublishStateDisplay            6408 non-null   object
 4   YearCode                       6408 non-null   int64
 5   YearDisplay                    6408 non-null   int64
 6   RegionCode                     6408 non-null   object
 7   RegionDisplay                  6408 non-null   object
 8   WorldBankIncomeGroupGroupCode  5244 non-null   object
 9   WorldBankIncomeGroupDisplay    5244 non-null   object
 10  CountryCode                    6408 non-null   object
 11  CountryDisplay                 6408 non-null   object
 12  SexCode                        6408 non-null   object
 13  SexDisplay                     6408 non-null   object
 14  DisplayValue                   6408 non-null   int64
 15  Numeric                        6408 non-null   float64
dtypes: float64(1), int64(3), object(12)
memory usage: 801.1+ KB

In [6]:
dflifeexp[dflifeexp.CountryCode == 'NIC']

,GhoCode,GhoDisplay,PublishStateCode,PublishStateDisplay,YearCode,YearDisplay,RegionCode,RegionDisplay,WorldBankIncomeGroupGroupCode,WorldBankIncomeGroupDisplay,CountryCode,CountryDisplay,SexCode,SexDisplay,DisplayValue,Numeric
0,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,1990,1990,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,MLE,Male,68,68.00000
344,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2013,2013,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,MLE,Male,62,61.90000
578,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,1990,1990,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,FMLE,Female,74,74.00000
1130,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2000,2000,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,FMLE,Female,76,76.00000
1257,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2000,2000,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,MLE,Male,70,70.00000
1967,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,2000,2000,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,MLE,Male,21,21.00000
2258,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,2000,2000,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,FMLE,Female,24,24.00000
2383,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,2000,2000,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,BTSX,Both sexes,22,22.00000
2478,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2012,2012,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,MLE,Male,70,70.00000
2538,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2012,2012,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,FMLE,Female,66,65.80000
2692,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2012,2012,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,MLE,Male,62,61.60000
2804,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,2012,2012,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,BTSX,Both sexes,21,21.00000
2819,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,1990,1990,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,MLE,Male,20,20.00000
3004,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013,2013,AMR,Americas,NaN,NaN,NIC,Nicaragua,MLE,Male,71,70.73053
3178,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013,2013,AMR,Americas,NaN,NaN,NIC,Nicaragua,FMLE,Female,77,76.62982
3412,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,2013,2013,AMR,Americas,NaN,NaN,NIC,Nicaragua,MLE,Male,20,19.74271
3469,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2000,2000,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,FMLE,Female,65,64.80000
3745,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,2013,2013,AMR,Americas,NaN,NaN,NIC,Nicaragua,BTSX,Both sexes,21,21.13286
3766,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,2012,2012,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,FMLE,Female,22,22.00000
4174,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,1990,1990,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,BTSX,Both sexes,22,22.00000
4228,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2013,2013,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,BTSX,Both sexes,64,64.00000
4327,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,1990,1990,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,FMLE,Female,24,24.00000
4333,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2013,2013,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,FMLE,Female,66,66.10000
4439,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2000,2000,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,BTSX,Both sexes,63,62.90000
4454,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2000,2000,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,MLE,Male,61,60.90000
4691,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,2013,2013,AMR,Americas,NaN,NaN,NIC,Nicaragua,FMLE,Female,22,22.47902
4721,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,2012,2012,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,MLE,Male,20,20.00000
4930,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,1990,1990,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,BTSX,Both sexes,71,71.00000
5319,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2012,2012,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,BTSX,Both sexes,73,73.00000
5926,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013,2013,AMR,Americas,NaN,NaN,NIC,Nicaragua,BTSX,Both sexes,74,73.64848
6048,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2000,2000,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,BTSX,Both sexes,73,73.00000
6314,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2012,2012,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,FMLE,Female,76,76.00000
6394,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2012,2012,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,BTSX,Both sexes,64,63.70000

In [7]:
dflifeexp.GhoDisplay.unique()

array(['Life expectancy at birth (years)',
       'Healthy life expectancy (HALE) at birth (years)',
       'Life expectancy at age 60 (years)'], dtype=object)

In [8]:
dflifeexp[(dflifeexp.GhoCode == 'WHOSIS_000001') & (dflifeexp.CountryCode == 'NIC')]

,GhoCode,GhoDisplay,PublishStateCode,PublishStateDisplay,YearCode,YearDisplay,RegionCode,RegionDisplay,WorldBankIncomeGroupGroupCode,WorldBankIncomeGroupDisplay,CountryCode,CountryDisplay,SexCode,SexDisplay,DisplayValue,Numeric
0,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,1990,1990,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,MLE,Male,68,68.00000
578,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,1990,1990,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,FMLE,Female,74,74.00000
1130,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2000,2000,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,FMLE,Female,76,76.00000
1257,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2000,2000,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,MLE,Male,70,70.00000
2478,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2012,2012,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,MLE,Male,70,70.00000
3004,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013,2013,AMR,Americas,NaN,NaN,NIC,Nicaragua,MLE,Male,71,70.73053
3178,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013,2013,AMR,Americas,NaN,NaN,NIC,Nicaragua,FMLE,Female,77,76.62982
4930,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,1990,1990,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,BTSX,Both sexes,71,71.00000
5319,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2012,2012,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,BTSX,Both sexes,73,73.00000
5926,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2013,2013,AMR,Americas,NaN,NaN,NIC,Nicaragua,BTSX,Both sexes,74,73.64848
6048,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2000,2000,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,BTSX,Both sexes,73,73.00000
6314,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2012,2012,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,FMLE,Female,76,76.00000

In [9]:
dflifeexp.groupby('CountryDisplay')['SexDisplay'].nunique().sort_values() < 3

CountryDisplay
Afghanistan    False
Niger          False
Nigeria        False
Niue           False
Norway         False
               ...
Grenada        False
Guatemala      False
Guinea         False
Denmark        False
Zimbabwe       False
Name: SexDisplay, Length: 194, dtype: bool

In [10]:
dfdrinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
...,...,...,...,...,...
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0
190,Yemen,6,0,0,0.1
191,Zambia,32,19,4,2.5
192,Zimbabwe,64,18,4,4.7

In [11]:
df_ultimo_ano = dflifeexp[(dflifeexp.SexCode == 'BTSX') & (dflifeexp.GhoCode == 'WHOSIS_000002')].sort_values(by = 'YearCode', ascending = False)
df_ultimo_ano

,GhoCode,GhoDisplay,PublishStateCode,PublishStateDisplay,YearCode,YearDisplay,RegionCode,RegionDisplay,WorldBankIncomeGroupGroupCode,WorldBankIncomeGroupDisplay,CountryCode,CountryDisplay,SexCode,SexDisplay,DisplayValue,Numeric
3141,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2013,2013,AMR,Americas,WB_LMI,Lower_middle_income,GUY,Guyana,BTSX,Both sexes,54,54.4
4653,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2013,2013,EMR,Eastern Mediterranean,WB_HI,High_income,OMN,Oman,BTSX,Both sexes,66,66.0
4857,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2013,2013,AFR,Africa,WB_LI,Low_income,ERI,Eritrea,BTSX,Both sexes,55,54.5
2670,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2013,2013,AMR,Americas,WB_LMI,Lower_middle_income,PRY,Paraguay,BTSX,Both sexes,65,64.7
1564,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2013,2013,EUR,Europe,WB_HI,High_income,ISL,Iceland,BTSX,Both sexes,72,72.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1383,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2000,2000,AFR,Africa,WB_UMI,Upper_middle_income,NAM,Namibia,BTSX,Both sexes,49,49.1
5008,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2000,2000,WPR,Western Pacific,WB_LMI,Lower_middle_income,MNG,Mongolia,BTSX,Both sexes,55,55.5
4161,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2000,2000,EUR,Europe,WB_LMI,Lower_middle_income,GEO,Georgia,BTSX,Both sexes,63,62.8
5026,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2000,2000,EUR,Europe,WB_HI,High_income,MCO,Monaco,BTSX,Both sexes,70,70.3
3952,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2000,2000,EMR,Eastern Mediterranean,WB_LI,Low_income,SSD,South Sudan,BTSX,Both sexes,42,42.0

In [12]:
dfle = df_ultimo_ano.groupby('CountryDisplay')[['CountryCode', 'RegionDisplay', 'YearDisplay', 'WorldBankIncomeGroupDisplay', 'Numeric']].agg('first')
dfle

,CountryCode,RegionDisplay,YearDisplay,WorldBankIncomeGroupDisplay,Numeric
CountryDisplay,,,,,
Afghanistan,AFG,Eastern Mediterranean,2013,Low_income,50.0
Albania,ALB,Europe,2013,Lower_middle_income,64.8
Algeria,DZA,Africa,2013,Upper_middle_income,62.4
Andorra,AND,Europe,2013,High_income,71.8
Angola,AGO,Africa,2013,Lower_middle_income,44.5
...,...,...,...,...,...
Venezuela (Bolivarian Republic of),VEN,Americas,2013,Upper_middle_income,66.2
Viet Nam,VNM,Western Pacific,2013,Low_income,65.9
Yemen,YEM,Eastern Mediterranean,2013,Low_income,54.7
Zambia,ZMB,Africa,2013,Low_income,50.3
Zimbabwe,ZWE,Africa,2013,Low_income,49.8

---
# Consumption per year

In [13]:
import pandas as pd

dfbeer_raw = pd.read_csv('datasets/beer-consumption-per-person.csv')
dfbeer_raw.sample(5)

,Entity,Code,Year,"Indicator:Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol) - Beverage Types:Beer"
1413,Canada,CAN,2005,4.20
8670,Vanuatu,VUT,1998,0.22
3016,Georgia,GEO,1996,0.18
7138,Sierra Leone,SLE,1992,0.12
463,Austria,AUT,2010,6.10

In [14]:
dfwine_raw = pd.read_csv('datasets/wine-consumption-per-person.csv')
dfwine_raw.sample(5)

,Entity,Code,Year,"Indicator:Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol) - Beverage Types:Wine"
4642,Libya,LBY,1983,0.00
1114,Brunei,BRN,1994,0.02
3477,Haiti,HTI,2010,0.01
469,Azerbaijan,AZE,1991,2.88
4940,Mali,MLI,1981,0.01

In [15]:
dfspirits_raw = pd.read_csv('datasets/spirits-consumption-per-person.csv')
dfspirits_raw.sample(5)

,Entity,Code,Year,"Indicator:Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol) - Beverage Types:Spirits"
4269,Kiribati,KIR,1979,0.28
1389,Canada,CAN,1981,4.02
4556,Lesotho,LSO,1999,0.37
4320,Kuwait,KWT,1979,0.00
6766,Saint Lucia,LCA,1974,7.46

---
# Roadmap

In [16]:
# 1. MERGE dos dados de consumo alcoolico 'dfdrinks' com expectativa de vida 'dfle'

# 2. mapa coroplético: cor é consumo alcoolico
#                      hover = 'religiao', 'income'

# 3. scatter x: consumo de alcool y: expectativa de vida
#               cada ponto é um país
#               hue: ( 'regiao', 'level of income', 'religiao' (tentar pegar) )